:root {
    --color-pink: #FF5A5F;
    --color-white: #fff;
    --color-black: #000;
    --color-text-gray: #777;
    --color-bg-gray: #F5F5F5;
    --color-dark-blue: #1E2A3F;
    --color-dark-gray: #434D58;
    --color-bg-blue: #24324A;
    --color-bg-footer: #1D293E;
    --color-text-footer: #fefefe;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

/* ======================================== REUSE =============================== */
.btn {
    color: var(--color-white);
    background-color: var(--color-pink);
    font-size: 1.6rem;
    border-radius: 1rem;
    border: 0;
    padding: 1.2rem 4rem;
    cursor: pointer;
}

.btn-white {
    color: var(--color-black);
    background-color: var(--color-white);
}

.btn:focus {
    outline: 0;
}


/* ========================================= HEADER ======================================= */
/** 
    NAVBAR
**/

.row {
    width: 120rem;
    max-width: 100%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1rem;
}

.header__nav-logo {
    display: flex;
    align-items: center;
    color: var(--color-white);
}

.header__nav-logo span {
    font-size: 2.8rem;
    font-weight: 800;
    margin-left: 0.8rem;
}

.header__nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.6rem;
}

.nav-item {
    padding: 0 1.8rem;
}

.nav-item a{
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
}

.nav-item:last-child {
    background-color: var(--color-white);
    padding: 1.5rem 2rem;
    border-radius: 5rem;
}

.nav-item:last-child a {
    color: var(--color-pink);
    display: flex;
    align-items: center;
}

.fa-plus {
    font-size: 2rem;
    margin-right: 0.8rem;
}

.nav-listing {
    position: relative;
}

.nav-item-listing {
    display: none;
}

/*.header__container {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('/resources/img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.9;
    color: var(--color-white);
    position: relative;
}

.header__container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 5rem;
}

.header__container-title {
    font-size: 5.5rem;
}

.header__container-text {
    font-size: 1.8rem;
}

.header__container-button {
    position: relative;
    margin: 5rem auto;
}

.header__container-button button:first-child {
    margin-right: 1.2rem;
}

.header__container-button button:first-child::before {
    content: '';
    display: block;
    position: absolute;
    top: 4rem;
    width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-top: 1.2rem solid var(--color-pink);
}

.header__container-search {
    height: 10rem;
    width: 70vw;
    background-color: var(--color-white);
    border-radius: 1rem;
}

.search__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.search__list-item input,
.search__list-item button {
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background-color: var(--color-white);
    color: #464753;
}

.search__list-item input:focus{
    outline: 0;
}

.search__list-item input,
.search__list-item button {
    font-size: 1.6rem;
}
.search__type-list {

}

.search__type-list-item {

}

.search__range-slider {

}

.price-wrap {

}

.range-slider {

}

.range-slider.track {

}

.range-slider.range {

}

.range-slider.thumb {

}

.advanced__option-heading {

}

.advanced__option-list {

}

.advanced__option-item {

}

.item-check {

}

.advanced__option-item-label {

}

.advanced__option-others {

}

.advanced__option-others-list {

}

.advanced__options-others-select {

} */