:root {
    --color-pink: #FF5A5F;
    --color-white: #fff;
    --color-black: #000;
    --color-text-gray: #777;
    --color-bg-gray: #F5F5F5;
    --color-dark-blue: #1E2A3F;
    --color-dark-gray: #434D58;
    --color-bg-blue: #24324A;
    
}