@media (max-width: 1260px) {
    .search__list-item input,
    .search__list-item button {
        width: 15rem;
        font-size: 1.3rem;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .header__nav-logo span {
        font-weight: normal;
        font-size: 2.2rem;
    }

    .nav-item {
        padding: 0 1.5rem;
    }

    .articles__item {
        margin: 0 auto;
    }

    .articles__item-header img {
        width: 32rem;
    }

    .why__content-item {
        width: 35rem;
    }

    .signup__content {
        padding: 0 2rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .mobile-nav {
        background-color: var(--white);
        position: relative;
    }

    .header__nav-logo { 
        margin: 0 auto;
        color: var(--black);
    }

    .header__nav-logo span {
        font-weight: normal;
        font-size: 1.8rem;
    }

    .header__nav-list,
    .span-register,
    .nav-listing .fa-chevron-down {
        display: none;
    }

    .mobile-nav-active {
        position: absolute;
        top: 9.4rem;
        left: 0;
        display: block;
        width: 22rem;
        height: 100vh;
        background-color: var(--background);
        animation: toRight 0.4s ease-out;
    }

    .nav-listing a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-listing .fa-chevron-right{
        display: inline-block;
    }

    .nav-item-listing {
        position: relative;
        top: 0;
        width: 100%;
    }

    .nav-item-listing::before,
    .nav-item-listing::after {
        content: '';
        display: none;
    }

    .nav-listing:hover > .nav-item-listing{
        animation: toRight 0.4s ease;
    }

    .nav-item {
        line-height: 3;
        border-bottom: 1px solid #e1e1e1;
    }

    .nav-item a {
        color: var(--black);
        font-weight: normal;
    }

    .nav-item:nth-last-child(2) {
        display: block;
    }

    .nav-item:last-child {
        width: 80%;
        padding: 0.1rem 2rem;
        margin: 0 auto;
        margin-top: 2rem;
        background-color: var(--primary);
    }

    .nav-item:last-child a {
        color: var(--white);
    }

    .mobile-bars,
    .mobile-user {
        display: block;
        font-size: 2.3rem;
        padding: 1.8rem 1rem;
        cursor: pointer;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}